@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .header {
    font-size: 0;
    margin: 40px 20px 0;
  }
  
  li {
    display: inline;
  }
  
  .header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    vertical-align: middle;
    font-family: sans-serif;
  }
  
  .logo > img {
    width: 50px;
  }
  
  .navbar {
    width: 80%;
    text-align: left;
    color: #025157;
    font-weight: 500;
  }

  .navbar li {
    display: inline;
    margin: 0 25px;
    color: #025157;
  }

  .navbar a {
    color: #025157;
  }

  .actions {
    width: 15%;
    text-align: right;
    font-size: 14px;
  }  
  
  .actions a {
    color: #67b54b;
  }  
  
  .actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }  

  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  } 
      
  .main {
    margin-top: 140px;
    text-align: center;
  }

  .publish {
    margin-left: 30px;
  }

  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  .publish form {
    height: 55px;
  }
  
  .publish input,
  button {
    height: 100%;
    border-radius: 8px;
  }
  
  .publish input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
  }
  
  .publish button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
  }

  .promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
  }
  
  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 50px;
    margin-top: 10px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;  
  }